.forgotPasswordPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    width: 50vw;
    gap: 1.5rem;
}

.form {
    margin-top: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.form p {
    width: 22rem;
}


.email {
    width: 22rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

.email label {
    display: flex;
    font-weight: 700;
    padding-left: 0.5rem;
}

.email input {
    background-color: #F5F5F5;
    border: none;
    height: 3rem;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
}


.button {
    background-color: #FF9248;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    height: 3rem;
    width: 22rem;
    border-radius: 0.5rem;
    cursor: pointer;
}


.logIn {
    width: 22rem;
    color: #FF9248;
    font-weight: 700;
    text-decoration: underline;
}



@media (max-width: 768px) {

    /* * {
        background-color: #F5F5F5;
    }

    .email input {
        background-color: white;
    }

    .password input {
        background-color: white;
    }

    .loginPage {
        width: 100vw;
    } */

    /* .noAccount {
        margin-bottom: auto;
        text-align: center;
        position: absolute;
        bottom: 2rem;
    } */

}