.missingEmailPasswordPage {
    display: flex;
    min-height: 100vh;
    background-color: white;
    width: 50vw;
    justify-content: center;
}

.missingEmailPassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.missingEmailPassword-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.missingEmailPassword-text p {
    width: 22rem;
    align-self: center;
}